@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon';
    box-sizing: border-box;
}

main {
    background: linear-gradient(45deg,#ba88ec,#f980c4e7,#974eea);
    display: grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: 
    "title      title       aboutme     cv"
    "projects   contact     icon        icon"
    ;
}

h1,
h2 {
    margin: 1rem;
}

div {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    box-shadow:  31px 31px 62px #d6d3d3ee,
             -31px -31px 62px #ffffff;
    color: white;
}

.firstblock,
.secondblock {
    border: none;
    box-shadow: none;
}

i {
   font-size: 5rem;
   margin: 10px;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

/* grid */

.title {
    grid-area: title;
}

.aboutme {
    grid-area: aboutme;
}

.cv {
    grid-area: cv;
}

.projects {
    grid-area: projects;
}

.contact {
    grid-area: contact;
}

.icon {
    grid-area: icon;
}