@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Tilt Neon';
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, #ba88ec, #f980c4e7, #974eea);
    background-repeat: no-repeat;
    color: white;
     }

header {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

img {
    width: 200px;
    border-radius: 20px;
    box-shadow: 31px 31px 62px #d6d3d3ee,
        -31px -31px 62px #ffffff;
}

section {
    padding: 20px;
}

h2,
p,
h3 {
    margin: 1rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}
p {
    font-size: 1.5rem;
}

i {
    color: gray;
}

footer a {
    color: white;
    font-size: 1.5rem;
    margin: 20px;
}